* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #3882F6; 
    color: #fff; 
    border: none;
    padding: 12px 32px;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
}

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100%;
    text-align: center;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px 0;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 64px auto;
    gap: 20px;
}

.header-text {
    flex: 1;
    max-width: 500px;
}

.header-text h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.header-text p {
    font-size: 1rem;
    color: #e5e7eb;
    margin-bottom: 24px; 
}

.header-image {
    flex: 1; 
    display: flex; 
    justify-content: center; 
}

.header-image img {
    width: 100%;
    max-width: 500px; 
    height: auto;
    border-radius: 10px;
}

.header-left {
    font-size: 24px; 
    font-weight: bold;
}

.header-right ul {
    display: flex;
    gap: 20px; 
    list-style-type: none; 
    color: #F9FAF8;
}


.footer {
    padding: 16px;
    margin-top: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.info-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-images {
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 20px); /* Adjusts to fit two images per row */
    max-width: 300px; /* Restricts maximum width for smaller screens */
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #3882F6; /* Adds color to border */
}

.image-caption {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.quote-section {
    background-color: #e5e7eb; /* Entire section background color */
    padding: 60px 0; /* Space above and below the quote */
    width: 100vw; /* Full viewport width */
    display: flex;
    justify-content: center;
}

.quote {
    max-width: 800px;
    padding: 30px;
    text-align: center;
}

.quote-text {
    font-size: 1.2rem;
    font-style: italic;
    color: #333;
    margin-bottom: 15px;
}

.quote-author {
    font-size: 1rem;
    color: #555;
    text-align: right;
    width: 100%;
}
